body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-bottom: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
    background-color:#e0f7fa;
}

.tips-section {
    padding: 20px;
    text-align: center;
}

.tips-section h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #00bcd4;
}

#tips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tip-card {
    background: rgba(234, 228, 228, 0.2); /* Glassy effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border for glassy look */
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    opacity: 1; /* Make sure the card is initially visible */
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease; /* Added transition for shadow */
    backdrop-filter: blur(10px); /* Apply a blur effect for the glassy look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), /* 3D shadow effect */
                0 6px 20px rgba(0, 0, 0, 0.19);
    color: #00bcd4;
}

.tip-card:hover {
    transform: translateY(-5px); /* Slight lift effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), /* Increased shadow for hover effect */
                0 15px 30px rgba(0, 0, 0, 0.25);
}

.tip-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.tip-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.tip-card p {
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
